/**
 * General
 */


/*
	Core
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background: #fff;
	height: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	min-height: 100%;
	margin: 0;
	font-family: $font-family-base;
}

.clearfix {

	&:after {
		content: '';
		clear: both;
		display: table;
	}
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;

	@media screen and (min-width: 1200px) {
		flex-direction: row;
		margin: 32px auto;
		justify-content: space-between;
	}
}

section {
	width: 100%;

	@media screen and (min-width: 1200px) {
		width: 70%;
	}
}

article {
	padding:0 16px 0 0;
}