/**
 * Reset file
 */


// Global box-sizing
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}

img {
  // Don't allow <IMG> to be larger then its container
  max-width: 100%;
  // Omit space caused by default style, between images lines
  vertical-align: middle;
}

a {
  color: $link-color;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }

  &:active {}
}

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit;
}

// Text selection
::selection {
  background-color: $selection-bg;
  color: $body-bg;
  text-shadow: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: none;
  border-radius: 2px;
  background: #ccc;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */

  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */

  font-size: 12px;
  line-height: 1;
  padding: 8px 16px;
}


input[type="search"] {
  box-sizing: content-box;
  border: 1px solid #ccc;
  height: 24px;
}