/**
 * Variables
 */


/**
 * Typography
 */

$font-family-base:  "Open Sans", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.8;

/**
 * Colors
 */

$text-color: #212529;
$body-bg: #f5f8fa;
$selection-bg: #04A4CC;
$link-color: #3097D1;

/**
 * Grid
 */

$wrapper-width: 1280px;


$padding-horizontal-base: 8px;
$padding-vertical-base: 8px;
$margin-horizontal-base: 8px;
$margin-vertical-base: 8px;
$margin-horizontal-large: 16px;
$margin-vertical-large: 16px;